Repository Trim21/BGmi-NG: changes, and which pre-commit hooks are due for each by the changed paths.
All: blacken-docs, black, mypy, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-ast
      - id: check-merge-conflict
        exclude: '\.rst$'

      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-json
      # check for file bigger than 500kb
      - id: check-added-large-files
      - id: check-yaml
      - id: debug-statements
      - id: fix-encoding-pragma
        args: [--remove]

  - repo: https://github.com/Trim21/find-trailing-comma
    rev: v0.0.1
    hooks:
      - id: find-trailing-comma

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.1.1
    hooks:
      - id: pyupgrade
        args: ["--py36-plus"]

  - repo: https://github.com/PyCQA/doc8
    rev: 0.8.1rc3
    hooks:
      - id: doc8
        args: ["--max-line-length", "88", "-v"]
        files: \.rst$
        exclude: '.*/_autoapi/.*\.rst$'

  - repo: https://github.com/Trim21/mirrors-autoflake
    rev: v1.3.1
    hooks:
      - id: autoflake
        require_serial: true
        args:
          [
            "--in-place",
            "--remove-unused-variables",
            "--remove-all-unused-imports",
            "--expand-star-imports",
          ]

  - repo: https://github.com/timothycrosley/isort
    rev: 4.3.21-2
    hooks:
      - id: isort
        require_serial: true
        args:
          [
            "--line-width=88",
            "--trailing-comma",
            "--multi-line=3",
            "--project=bgmi",
            "--section-default=THIRDPARTY",
          ]

  - repo: https://github.com/Trim21/poetry-check-lock
    rev: v0.0.2
    hooks:
      - id: poetry-check-lock

  - repo: local
    hooks:
      - id: blacken-docs
        name: blacken-docs
        description: Run `black` on python code blocks in documentation files
        entry: blacken-docs
        language: system
        files: '\.(rst|md|markdown|py|tex)$'

      - id: black
        name: black
        entry: black
        require_serial: true
        language: system
        types: [python]

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ["--ignore-missing-imports"]
        require_serial: true
        exclude: '^.*[\\/](test_[^\\/]*)\.py$' # exclude file name starts with 'test_'

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        require_serial: false
        types: [python]

ci: unittest
  .ci/azure-pipelines.yml
  .ci/jobs/lint.yaml
  .ci/jobs/unittest.yaml
  .ci/templates/install-project.yaml
  .ci/templates/job.yaml
  .ci/templates/jobs/lint.yaml
  .ci/templates/steps/install-project.yaml
  .github/codecov.yaml
  .github/renovate.json
  .github/workflows/update-pre-commit.yaml
Due: none

chore(deps): update dependency https://github.com/trim21/azure-pipeline-templates.git to v0.0.5
  .ci/azure-pipelines.yml
Due: none

style: update pre-commit config
  .ci/templates/jobs/lint.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

ci: unittest
  .ci/azure-pipelines.yml
  .ci/jobs/lint.yaml
  .ci/jobs/unittest.yaml
  .ci/templates/install-project.yaml
  .ci/templates/job.yaml
  .ci/templates/jobs/lint.yaml
  .ci/templates/steps/install-project.yaml
  .github/codecov.yaml
  .github/renovate.json
  .github/workflows/update-pre-commit.yaml
  poetry.lock
  pyproject.toml
  tests/test_a.py
Due: blacken-docs, black, flake8

chore: renovate for pre-commit hooks
  .github/renovate.json
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

chore: update deps
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

codecov
  .ci/jobs/unittest.yaml
Due: none

codecov
  examples/output.py
  examples/source.py
Due: blacken-docs, black, mypy, flake8

codecov
  .ci/jobs/unittest.yaml
  examples/output.py
  examples/source.py
Due: blacken-docs, black, mypy, flake8

codecov
  setup.cfg
Due: none

codecov
  .ci/templates/job.yaml
Due: none

chore(pre-commit): update dependency timothycrosley/isort to v4.3.21
  .pre-commit-config.yaml
Due: none

docs: update readme
  pyproject.toml
  readme.md
Due: blacken-docs

chore: use semver instead of pep440
  pyproject.toml
Due: none

chore: enable codecov
  .ci/jobs/unittest.yaml
  readme.md
  setup.cfg
Due: blacken-docs

ci: codecov merge commit
  .ci/jobs/unittest.yaml
Due: none

chore(pre-commit): update pre-commit
  .pre-commit-config.yaml
Due: none

chore: disable renovate for pre-commit repo
  .github/renovate.json
  .pre-commit-config.yaml
Due: none

feat(backend): sqlite support (#16)
  .github/codecov.yaml
  bgmi/__init__.py
  bgmi/backend/alembic.ini
  bgmi/backend/migrations/README
  bgmi/backend/migrations/__init__.py
  bgmi/backend/migrations/env.py
  bgmi/backend/migrations/script.py.mako
  bgmi/backend/migrations/versions/1d0d6c4111d6_add_episode.py
  bgmi/backend/migrations/versions/__init__.py
  bgmi/backend/migrations/versions/c6a7c781b99b_init.py
  bgmi/backend/sqlite.py
  bgmi/db/table.py
  bgmi/exc/__init__.py
  bgmi/helper/abstract.py
  bgmi/protocol/backend.py
  poetry.lock
  pyproject.toml
  tests/backend/test_sqlite.py
  tests/helper/test_abs.py
Due: blacken-docs, black, mypy, flake8

chore(deps-dev): pin dependency requests to 2.23.0
  poetry.lock
  pyproject.toml
Due: none

chore(deps): update deps-prod
  poetry.lock
  pyproject.toml
Due: none

chore(deps): update dependency sphinx to v3
  poetry.lock
  pyproject.toml
Due: none

docs(config): example
  .pre-commit-config.yaml
  bgmi/core/application.py
  bgmi/model/config.py
  bgmi/protocol/source.py
  docs/source/config.rst
  docs/source/index.rst
  examples/config.toml
Due: blacken-docs, black, mypy, flake8

example type hint
  .pre-commit-config.yaml
  examples/source.py
Due: blacken-docs, black, mypy, flake8

build(deps): update deps
  .github/renovate.json
  poetry.lock
  pyproject.toml
Due: none

ci: use coverage.py
  .ci/jobs/unittest.yaml
  poetry.lock
  pyproject.toml
Due: none

build: remove duplicated files from sdist
  pyproject.toml
Due: none

chore: fix renovate config
  .github/renovate.json
Due: none

build(pre-commit): update pre-commit
  .pre-commit-config.yaml
Due: none

chore: remove additional_dependencies from pre-commit-config
  .github/renovate.json
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

build(deps): update dependency trim21/azure-pipeline-templates to v0.0.9
  .ci/azure-pipelines.yml
Due: none
